@font-face {
  $font-family: "Cinzel";
  src: url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Lexend+Exa:wght@300&family=PT+Sans&family=Sometype+Mono:ital@0;1&family=Ubuntu:wght@300;500&display=swap");
}

.wrapper {
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, 1fr) / 1fr;
  font-family: "Cinzel";
}

.main {
  display: grid;
  grid-template: minmax(100px, auto) / 1fr 1fr;
  grid-template-areas: "main__title main__title" "main__img main__aboutMe ";
  padding: 20px;
}

.main__title {
  grid-area: main__title;
  color: rgb(196, 195, 195);
  font-size: 30px;
  justify-items: center;
  span {
    font-size: 40px;
    color: rgb(31, 3, 107);
  }
}

.main__img {
  grid-area: main__img;
}

.main__aboutMe {
  color: rgb(167, 167, 167);
  grid-area: main__aboutMe;
  margin-left: 15px;
  font-size: 30px;
  line-height: 1.5;
}

.main__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15%;
}

.areaImg {
  padding: 0px 0px 65% 0px;
  position: relative;
}

.charsSkillsSection {
  display: flex;
  justify-content: space-around;
}

.charsSkills {
  display: grid;
  border: 2px inset blue;
  border-radius: 15px;
  padding: 30px;
  margin: 80px;
  width: 250px;
  img {
    display: block;
    margin: 0 auto;
  }
  span {
    font-size: 30px;
    line-height: 1.5;
    display: block;
    text-align: center;
    width: auto;
  }
}

.charsSkills__img {
  width: 150px;
}

.skillsSection__text {
  display: block;
  margin: 50px;
}

.skillsSection__title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: rgb(31, 3, 107);
}

.skillsSection__skils {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  padding: 100px;
}

.skils__item {
  height: 50px;
  cursor: pointer;
  &:hover {
    transform: scale(1.5);
  }
}

.skils__items {
  display: grid;
  justify-content: center;
}

.skillsSection__text {
  color: rgb(167, 167, 167);
  font-size: 30px;
  line-height: 1.5;
}

.contactSection__title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 25px;
  color: rgb(31, 3, 107);
}

.contactSection_style {
  display: flex;
  justify-content: space-between;
  span {
    color: rgb(167, 167, 167);
    font-size: 30px;
    margin-top: 180px;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      border-radius: 5px;
      transition: 0.3s ease;
    }
  }
}

.contactSection__contacts {
  display: grid;
  border: 3px rgb(31, 3, 107) inset;
  border-radius: 15px;
  padding: 30px;
  margin: 80px;
  width: 250px;
  a {
    margin: 15px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(167, 167, 167);
    &:hover {
      color: #ffffff;
      border-radius: 5px;
      transition: 0.3s ease;
    }
  }
}

.footer {
  grid-area: footer;
  padding: 15px;
  background-color: rgb(31, 3, 107);
  grid-area: footer;
  align-items: center;
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

@media (min-width: 1440px) and (max-width: 1450px) {
  .wrapper {
    display: block;
  }
  .main__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 350px;
    border-radius: 15%;
  }
  .main__aboutMe {
    color: rgb(167, 167, 167);
    grid-area: main__aboutMe;
    font-size: 30px;
    position: relative;
    top: 500px;
    right: 330px;
    line-height: 1.5;
  }
  .charsSkillsSection {
    margin-top: 260px;
  }
  .charsSkills {
    display: grid;
    border: 2px inset blue;
    border-radius: 15px;
    padding: 30px;
    width: 250px;
  }
}

@media (min-width: 1024px) and (max-width: 1034px) {
  .wrapper {
    display: block;
  }
  .main__title {
    line-height: 1;
  }
  .charsSkillsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 778px) {
  .wrapper {
    display: block;
  }
  .main__title {
    line-height: 1;
  }
  .main__img {
    width: auto;
    margin-left: 155px;
  }
  .charsSkillsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 300px;
  }
  .main__aboutMe {
    position: absolute;
    top: 465px;
  }
  .contactSection_style {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 425px) and (max-width: 450px) {
  .wrapper {
    display: block;
  }
  .main {
    display: block;
  }
  .main__title {
    font-size: 20px;
    margin-left: 30px;
    span {
      font-size: 30px;
    }
  }
  .main__img {
    width: auto;
    height: 105%;
    margin-top: 50px;
  }
  .main__aboutMe {
    position: relative;
    font-size: 18px;
    top: 95px;
  }

  .charsSkillsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .skillsSection__skils {
    display: block;
  }
  .contactSection_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin-top: 0;
    }
  }
  .contactSection_PhoneNumber {
    display: flex;
    justify-content: center;
  }
  .skils__items {
    margin: 30px;
  }
  .skillsSection__text {
    font-size: 25px;
  }
  .footer__text {
    margin: 5px;
  }
}

@media (min-width: 375px) and (max-width: 385px) {
  .wrapper {
    display: block;
  }
  .main {
    display: block;
  }
  .main__title {
    font-size: 20px;
    margin-left: 30px;
    span {
      font-size: 30px;
    }
  }
  .main__img {
    width: auto;
    height: 105%;
    margin-top: 50px;
  }
  .main__aboutMe {
    position: relative;
    font-size: 18px;
    top: 95px;
  }

  .charsSkillsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .skillsSection__skils {
    display: block;
  }
  .contactSection_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin-top: 0;
    }
  }
  .contactSection_PhoneNumber {
    display: flex;
    justify-content: center;
  }
  .skils__items {
    margin: 30px;
  }
  .skillsSection__text {
    font-size: 25px;
  }
  .footer__text {
    margin: 5px;
  }
}

@media (min-width: 320px) and (max-width: 340px) {
  .wrapper {
    display: block;
  }
  .main {
    display: block;
  }
  .main__title {
    font-size: 20px;
    margin-left: 30px;
    span {
      font-size: 30px;
    }
  }
  .main__img {
    width: auto;
    height: 105%;
    margin-top: 50px;
  }
  .main__aboutMe {
    position: relative;
    font-size: 18px;
    top: 95px;
  }

  .charsSkillsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .skillsSection__skils {
    display: block;
  }
  .contactSection_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin-top: 0;
    }
  }
  .contactSection_PhoneNumber {
    display: flex;
    justify-content: center;
  }
  .skils__items {
    margin: 30px;
  }
  .skillsSection__text {
    font-size: 25px;
  }
  .footer__text {
    margin: 5px;
  }
}
